<app-research-interface [hidden] = "!isInterfaceVisible" (typeChange) = "getResult($event)"> </app-research-interface>

<app-research-result *ngIf = "isResultVisible" [placesResult]="places"> </app-research-result>
