<div class="well">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#history" data-toggle="tab">Booking history</a></li>
    <li><a href="#home" data-toggle="tab">Profile</a></li>
    <li><a href="#profile" data-toggle="tab">Password</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="home">
      <form (ngSubmit) = "updateUser()" #userForm = "ngForm">
        <div class = "form-group">

          <label for = "name"> Name </label>
          <input type = "text" class = "form-control" id = "name" required [(ngModel)]="user.name" name = "name" #name = "ngModel" [placeholder]= "user.name">
          <div [hidden]="name.valid || name.pristine" class = "alert alert-danger"><p>Name is required</p></div>

          <label for = "fstname"> Firstname </label>
          <input type = "text" class = "form-control" id = "fstname" required [(ngModel)]="user.fstname" name = "fstname" #fstname = "ngModel">
          <div [hidden]="fstname.valid || fstname.pristine" class = "alert alert-danger"><p>Firstname is required</p></div>

          <label for="title">Title</label>
          <select class = "form-control" id = "title" required [(ngModel)] = "user.title" name = "title" #title = "ngModel">
            <option *ngFor="let title of titles" [value] = "title">{{title}}</option>
          </select>

          <label for = "birth"> Birth </label>
          <input type = "date" class = "form-control" id = "birth" required [(ngModel)]="user.birth" name = "birth" #birth = "ngModel">
          <div [hidden]="birth.valid || birth.pristine" class = "alert alert-danger"><p>Birth is required</p></div>

          <label for = "mail"> Mail </label>
          <input type = "email" class = "form-control" id = "mail" required [(ngModel)]="user.mail" name = "mail" #mail = "ngModel">
          <div [hidden]="mail.valid || mail.pristine" class = "alert alert-danger"><p>Mail is required</p></div>

          <label for = "tel"> Phone number </label>
          <input type = "tel" class = "form-control" id = "tel" required [(ngModel)]="user.phone" name = "tel" #tel = "ngModel">
          <div [hidden]="tel.valid || tel.pristine" class = "alert alert-danger"><p>Phone number is required</p></div>

          <label for="language">Language</label>
          <select class = "form-control" id = "language" required [(ngModel)] = "user.language" name = "language"
                  #language = "ngModel">
            <option *ngFor="let language of languages" [value] = "language">{{language}}</option>
          </select>

        </div>
        <br><br>
        <div class = "form-group">

          <label for = "street"> Street </label>
          <input type = "text" class = "form-control" id = "street" required [(ngModel)]="user.street" name = "street" #street = "ngModel">
          <div [hidden]="street.valid || street.pristine" class = "alert alert-danger"><p>Street is required</p></div>

          <label for = "number"> Number </label>
          <input type = "number" class = "form-control" id = "number" required [(ngModel)]="user.number" name = "number" #number = "ngModel">
          <div [hidden]="number.valid || number.pristine" class = "alert alert-danger"><p>Number is required</p></div>

          <label for = "zipcode"> Zipcode </label>
          <input type = "number" class = "form-control" id = "zipcode" required [(ngModel)]="user.zipcode" name = "zipcode" #zipcode = "ngModel">
          <div [hidden]="zipcode.valid || zipcode.pristine" class = "alert alert-danger"><p>Zipcode is required</p></div>

          <label for = "city"> City </label>
          <input type = "text" class = "form-control" id = "city" required [(ngModel)]="user.city" name = "city" #city = "ngModel">
          <div [hidden]="city.valid || city.pristine" class = "alert alert-danger"><p>City is required</p></div>

          <label for = "country"> Country </label>
          <input type = "text" class = "form-control" id = "country" required [(ngModel)]="user.country" name = "country" #country = "ngModel">
          <div [hidden]="country.valid || country.pristine" class = "alert alert-danger"><p>Country is required</p></div>

        </div>
        <button type = "submit" class="btn btn-success" [disabled] = "!userForm.form.valid">Update</button>
      </form>
    </div>
    <div class="tab-pane fade" id="profile">
      <form (ngSubmit) = "updateUser()" #userForm = "ngForm">
        <div class = "form-group">
          <label for = "password"> Password </label>
          <input type = "password" class = "form-control" id = "password" required [(ngModel)]="user.password" name = "password" #password = "ngModel">
          <div [hidden]="password.valid || password.pristine" class = "alert alert-danger"><p>Password is required</p></div>
        </div>
        <button type = "submit" class="btn btn-success" [disabled] = "!userForm.form.valid">Submit</button>
      </form>
    </div>
    <div class="tab-pane active in" id="history">
      <div class="container">
        <div class="row">
          <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list">
              <li *ngFor="let booking of bookings">
                <time datetime="2014-07-20">
                  <span class="day">{{booking.idPlace.show.dateBeg| split : '-' : 'day' : 3}}</span>
                  <span class="month">{{booking.idPlace.show.dateBeg| split : '-' : 'month' : 3}}</span>
                  <span class="year">2014</span>
                  <span class="time">{{booking.idPlace.show.dateBeg| split : 'T' : 'time'}}</span>
                </time>
                <img alt="Independence Day" [src]="booking.idPlace.show.imagePath" />
                <div class="info">
                  <h2 class="title">{{booking.idPlace.show.name}}</h2>
                  <p class="desc">{{booking.idPlace.room.nameRoom}}</p>
                  <ul>
                    <li style="width:50%;"><a><span class="fa fa-male"></span> {{booking.nbPlace}} persons</a></li>
                    <li style="width:50%;"><span class="fa fa-money"></span> {{booking.price}}€</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
