<h1> Research </h1>
<ul class = "list-group">

  <li class = "list-group-item" (click)="showMenu(1)"> Concert
    <ul [hidden] = !menu1Visible>
      <li class = "list-group-item" (click) = 'sendType("Rock")'> Rock</li>
      <li class = "list-group-item" (click) = 'sendType("Pop")'> Pop</li>
      <li class = "list-group-item" (click) = 'sendType("R&B")'> R&B</li>
      <li class = "list-group-item" (click) = 'sendType("Alternative")'> Alternative</li>
      <li class = "list-group-item" (click) = 'sendType("French")'> French</li>
      <li class = "list-group-item" (click) = 'sendType("Classic")'> Classic</li>
      <li class = "list-group-item" (click) = 'sendType("Rap")'> Rap</li>
      <li class = "list-group-item" (click) = 'sendType("Metal")'> Metal</li>
    </ul>
  </li>
  <li class = "list-group-item" (click) = "showMenu(2)"> Sport
    <ul [hidden] = "!menu2Visible">
      <li class = "list-group-item" (click) = 'sendType("Motor")'> Motor </li>
      <li class = "list-group-item" (click) = 'sendType("Boxe")'> Boxe </li>
      <li class = "list-group-item" (click) = 'sendType("Football")'> Football </li>
      <li class = "list-group-item" (click) = 'sendType("Baseball")'> Baseball </li>
      <li class = "list-group-item" (click) = 'sendType("Tennis")'> Tennis </li>
    </ul>
  </li>
  <li class = "list-group-item" (click) = 'sendType("Comedy")'> Comedy </li>
  <li class = "list-group-item" (click) = 'sendType("Party")'> Party </li>
  <li class = "list-group-item" (click)="showMenu(3)"> Theater
    <ul [hidden] = "!menu3Visible">
      <li class = "list-group-item" (click) = 'sendType("Dance")'> Dance</li>
      <li class = "list-group-item" (click) = 'sendType("Other")'> Other</li>
    </ul>
  </li>
  <li class = "list-group-item" (click)="showMenu(4)"> Family
    <ul [hidden] = "!menu4Visible">
      <li class = "list-group-item" (click) = 'sendType("Kids")'> Kids </li>
      <li class = "list-group-item" (click) = 'sendType("Concert")'> Concert </li>
    </ul>
  </li>

</ul>
