<h1> Room's information</h1>
<div class = "row">
  <div *ngFor = "let room of rooms; index as i;" class = "col-sm-6 col-md-4" [ngStyle]="{ 'background-image': 'url(' + room.imagePath + ')'}">
    <div class = "thumbnail" >
      <div class = "caption ">
        <h4> {{room.nameRoom}}</h4>
        <h4> {{room.adress}}</h4>
        <a class = "btn btn-default" role = "button" (click)="clickOnRoom(room)">Info</a>
      </div>
    </div>
  </div>
</div>
