
.suggestions{
  border:solid 1px #f1f1f1;
  position:absolute;
  width:600px;
  background: white;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
}

.container{
  width:600px;
  margin-left:10px;
  margin-top:10px;
}
.suggestions ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a{
  padding:5px;
  display: block;
  text-decoration: none;
  color:#7E7E7E;
}

.suggestions ul li a:hover{
  background-color: #f1f1f1;
}
