
  <div class="input-field col s12">
    <input id="event" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter() placeholder="Search an event">
  </div>
  <div class="suggestions" *ngIf="filteredString.length > 0">
    <ul *ngFor="let item of filteredString" >
      <li >
        <a (click)="clickOnEvent(item)">{{item}}</a>
      </li>
    </ul>
  </div>
