<div class = "container">

  <h1> Room management </h1>

  <ng2-smart-table [settings] = "settingsRoom" [source] = "dataRoom" (deleteConfirm) = "onDeleteConfirm($event)"
  (editConfirm) = "onSaveConfirm($event)" (createConfirm) = "onCreateConfirm($event)"></ng2-smart-table>

  <h1> Event management </h1>

  <ng2-smart-table [settings] = "settingsEvent" [source] = "dataEvent" (deleteConfirm) = "onDeleteConfirmE($event)"
                   (editConfirm) = "onSaveConfirmE($event)" (createConfirm) = "onCreateConfirmE($event)"></ng2-smart-table>

  <h1> Place Management </h1>

  <ng2-smart-table [settings] = "settingsPlace" [source] = "dataPlace" (deleteConfirm) = "onDeleteConfirmP($event)"
                   (editConfirm) = "onSaveConfirmP($event)" (createConfirm) = "onCreateConfirmP($event)"></ng2-smart-table>

</div>
