<h1> Result of research</h1>
<div class = "row">
  <div *ngFor = "let place of placesResult; index as i;" class = "col-sm-6 col-md-4" [ngStyle]="{ 'background-image': 'url(' + place.show.imagePath + ')'}">
    <div class = "thumbnail" >
      <div class = "caption ">
        <h4> {{place.show.name}}</h4>
        <h4> {{place.room.nameRoom}}</h4>
        <a href="#" class = "btn btn-primary" role = "button" (click) = "test()">Buy</a>
        <a href="#" class = "btn btn-default" role = "button">Info</a>
      </div>
    </div>
  </div>
</div>
