<html>


<body>

<nav class = "navbar navbar-inverse">
  <div class="container-fluid">
    <div class="nav-header">
      <button type="button" class = "navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded = "false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class = "navbar-brand">Dadukou</a>
    </div>
    <div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
      <ul class = "nav navbar-nav">
        <li class = "active"><a href="#" [routerLink]="['/']"> <span class="fa fa-home" aria-hidden="true"></span><span class ="sr-only">(current)</span></a></li>
        <li class = "dropdown">
          <a class = "dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class = "dropdown-menu">
            <li><a>Menu</a></li>
            <li role="separator" class = "divider"></li>
            <li><a [routerLink] = "['/research']">Research</a></li>
            <li><a [routerLink] = "['/room']">Rooms</a></li>
            <li><a [routerLink] = "['/shops']">Our shops</a></li>
          </ul>
        </li>
      </ul>
      <form class= "navbar-form navbar-left">
        <div class = "form-group">
          <app-autocomplete-component id ="search"></app-autocomplete-component>
        </div>
      </form>
      <ul class = "nav navbar-nav navbar-right">
        <li class = "dropdown">
          <a class = "dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">{{wordAccount}}<span class="caret"></span></a>
          <ul *ngIf="!dataService.isUserConnected" class = "dropdown-menu">
            <li><a>My account</a></li>
            <li role="separator" class = "divider"></li>
            <li><a href="#" [routerLink]="['/user-connection']">Login</a></li>
            <li><a href="#" [routerLink]="['/user-form']">Register</a></li>
          </ul>
          <ul *ngIf="dataService.isUserConnected" class = "dropdown-menu">
            <li><a>{{dataService.userConnected.login}}</a></li>
            <li role="separator" class = "divider"></li>
            <li><a [routerLink]="['/user-interface']">My account</a></li>
            <li *ngIf="dataService.userConnected.isAdmin"><a [routerLink] = "['/admin']"> Management </a></li>
            <li><a (click)="logOut()">Log out</a></li>
          </ul>
        </li>
        <li class = "dropdown">
          <a class = "dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Languages <span class="caret"></span></a>
          <ul class = "dropdown-menu">
            <li><a>Languages</a></li>
            <li role="separator" class = "divider"></li>
            <li><a>French</a></li>
            <li><a>English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet> </router-outlet>

<p style = "text-align : center;"> This project is a web application powered by Angular - Author : DASSONVILLE Thibault, DUPONT Alexandre, EL KOUKOUCHI Bilal </p>
<p style = "text-align : center;"> <button [routerLink] = "['/shops']">Our shops</button></p>
</body>
</html>
