<div class = "container">
  <h1> Formulaire d'ajout utilisateur </h1>
  <form (ngSubmit) = "createUser()" #userForm = "ngForm">
    <div class = "form-group">
      <label for = "login"> Login </label>
      <input type = "text" class = "form-control" id = "login" required [(ngModel)]="tmpLogin" name = "login" #login = "ngModel">
      <div [hidden]="login.valid || login.pristine" class = "alert alert-danger"><p>Login is required</p></div>
      <label for = "password"> Password </label>
      <input type = "password" class = "form-control" id = "password" required [(ngModel)]="tmpPassword" name = "password" #password = "ngModel">
      <div [hidden]="password.valid || password.pristine" class = "alert alert-danger"><p>Password is required</p></div>
    </div>
    <br><br>
    <div class = "form-group">

      <label for = "name"> Name </label>
      <input type = "text" class = "form-control" id = "name" required [(ngModel)]="tmpName" name = "name" #name = "ngModel">
      <div [hidden]="name.valid || name.pristine" class = "alert alert-danger"><p>Name is required</p></div>

      <label for = "fstname"> Firstname </label>
      <input type = "text" class = "form-control" id = "fstname" required [(ngModel)]="tmpFstName" name = "fstname" #fstname = "ngModel">
      <div [hidden]="fstname.valid || fstname.pristine" class = "alert alert-danger"><p>Firstname is required</p></div>

      <label for="title">Title</label>
      <select class = "form-control" id = "title" required [(ngModel)] = "tmpTitle" name = "title" #title = "ngModel">
        <option *ngFor="let title of titles" [value] = "title">{{title}}</option>
      </select>

      <label for = "birth"> Birth </label>
      <input type = "date" class = "form-control" id = "birth" required [(ngModel)]="tmpBirth" name = "birth" #birth = "ngModel">
      <div [hidden]="birth.valid || birth.pristine" class = "alert alert-danger"><p>Birth is required</p></div>

      <label for = "mail"> Mail </label>
      <input type = "email" class = "form-control" id = "mail" required [(ngModel)]="tmpMail" name = "mail" #mail = "ngModel">
      <div [hidden]="mail.valid || mail.pristine" class = "alert alert-danger"><p>Mail is required</p></div>

      <label for = "tel"> Phone number </label>
      <input type = "tel" class = "form-control" id = "tel" required [(ngModel)]="tmpTel" name = "tel" #tel = "ngModel">
      <div [hidden]="tel.valid || tel.pristine" class = "alert alert-danger"><p>Phone number is required</p></div>

      <label for="language">Language</label>
      <select class = "form-control" id = "language" required [(ngModel)] = "tmpLanguage" name = "language"
              #language = "ngModel">
        <option *ngFor="let language of languages" [value] = "language">{{language}}</option>
      </select>

    </div>
    <br><br>
    <div class = "form-group">

      <label for = "street"> Street </label>
      <input type = "text" class = "form-control" id = "street" required [(ngModel)]="tmpStreet" name = "street" #street = "ngModel">
      <div [hidden]="street.valid || street.pristine" class = "alert alert-danger"><p>Street is required</p></div>

      <label for = "number"> Number </label>
      <input type = "number" class = "form-control" id = "number" required [(ngModel)]="tmpNumber" name = "number" #number = "ngModel">
      <div [hidden]="number.valid || number.pristine" class = "alert alert-danger"><p>Number is required</p></div>

      <label for = "zipcode"> Zipcode </label>
      <input type = "number" class = "form-control" id = "zipcode" required [(ngModel)]="tmpZipCode" name = "zipcode" #zipcode = "ngModel">
      <div [hidden]="zipcode.valid || zipcode.pristine" class = "alert alert-danger"><p>Zipcode is required</p></div>

      <label for = "city"> City </label>
      <input type = "text" class = "form-control" id = "city" required [(ngModel)]="tmpCity" name = "city" #city = "ngModel">
      <div [hidden]="city.valid || city.pristine" class = "alert alert-danger"><p>City is required</p></div>

      <label for = "country"> Country </label>
      <input type = "text" class = "form-control" id = "country" required [(ngModel)]="tmpCountry" name = "country" #country = "ngModel">
      <div [hidden]="country.valid || country.pristine" class = "alert alert-danger"><p>Country is required</p></div>

    </div>
    <button type = "submit" class="btn btn-success" [disabled] = "!userForm.form.valid">Submit</button>
  </form>
</div>
