<div class = "container">
  <div class = "card card-container">
    <img id="profile-img" class = "profile-img-card" src = "//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <form class = "form-signin" (ngSubmit) = "getUser()" #form = "ngForm">
      <div class = "form-group">
        <span id="reauth-email" class="reauth-email"></span>
        <label for = "login"> Login </label>
        <input type = "text" class = "form-control" id = "login" required autofocus [(ngModel)]="tmpLogin" name = "login" #login = "ngModel">
        <div [hidden]="login.valid || login.pristine" class = "alert alert-danger"><p>Login is required</p></div>
      </div>
      <div class = "form-group">
        <label for = "password"> Password </label>
        <input type = "password" class = "form-control" id = "password" required [(ngModel)]="tmpPassword" name = "password" #password = "ngModel">
        <div [hidden]="password.valid || password.pristine" class = "alert alert-danger"><p>Password is required</p></div>
      </div>
      <div class = "form-check">
        <label class = "form-check-label">
          <input type = "checkbox" class = "form-check-input">
          <small> Remember me </small>
        </label>
        <button type = "submit" class = "btn btn-lg btn-primary btn-block btn-signin">Sign in</button>
      </div>
    </form>
    <a [routerLink] = "['/user-form']" class = "forgot-password"> Not a member ? Register now ! </a>
  </div>
</div>
