
#div {
  margin-bottom: 5%;
  height: 100%;

}

#poster{
  width: 100%;
  height: auto;
  min-height: 75%;
  max-height: 100%;
}

#show_name_effect{
  font-size:3.5vw;
  text-align: center;
  z-index: 1;
  position:fixed;
  top:25%;
  left:50%;
  /* Transparency */
  background-color:rgba(255,255,255,0.2);
  color:black;
}

#content {
  height: 1000px;
}

.backToTop{
  float: right;
  position:fixed;
  top:10%;
}

#toTop{
  width: 50px;
  height: auto;
}

#show_name{
  text-align: center;
}

#realContent{
  margin-left: 55px;
}

