<div id="button">button</div>
<div id="div">

  <h1 id="show_name_effect"> {{dataService.placeSelected.show.name}} </h1>
  <img [src]="dataService.placeSelected.show.imagePath" id="poster"/>

</div>
<div id="content">
  <div class="backToTop">
    <img src="../../img/arrow-up-128x128.png" id="toTop"/>
  </div>

  <div id="realContent">
    <h1 id="show_name">{{dataService.placeSelected.show.name}}</h1><hr />
    <div class="row">
      <h3 id="room" class="col-xs-2">{{dataService.placeSelected.room.nameRoom}}</h3>
      <h3 id="date" class="col-xs-offset-7 col-xs-3">From {{dataService.placeSelected.show.dateBeg| split : 'T' : 'time' : 2}} to {{dataService.placeSelected.show.dateEnd| split : 'T' : 'time' : 2}}</h3>
      <h4> The {{dataService.placeSelected.show.dateBeg| split : '-' : 'day' : 3}} {{dataService.placeSelected.show.dateBeg| split : '-' : 'month' : 3}} {{dataService.placeSelected.show.dateBeg| split : '-' : 'year' : 3}}</h4>
    </div>
    <p id="roomAdress" class="col-xs-2">
      {{dataService.placeSelected.room.adress}}
    </p>
    <a *ngIf = "!isComplet" id="btn_command" type = "button" href="#myModal" class="btn btn-primary btn-lg btn-block" data-toggle="modal">Book your tickets</a>
    <a *ngIf = "isComplet" type = "button"  class="btn btn-primary btn-lg btn-block" > FULL </a>
  </div>
</div>

<script type="text/javascript" src="jsScripts.js"></script>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class = "modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title"> {{dataService.placeSelected.show.name}} - Ticket </h4>
      </div>
    <div class="modal-body">
            <h5> {{dataService.placeSelected.show.name}} <i> The {{dataService.placeSelected.show.dateBeg| split : '-' : 'day' : 3}} {{dataService.placeSelected.show.dateBeg| split : '-' : 'month' : 3}} {{dataService.placeSelected.show.dateBeg| split : '-' : 'year' : 3}}</i></h5>
            <h6> {{dataService.placeSelected.room.nameRoom}}</h6>
            <p> Choose a number of ticket :
                <select [(ngModel)] = "nbTicket">
                  <option *ngFor="let i of Arr(dataService.placeSelected.available); index as j;"> {{j+1}} </option>
                </select>
                <br><br>
                Delivery method :
                <select>
                  <option value = "home"> Home </option>
                  <option value = "pdf"> Email (PDF) </option>
                </select> </p>
      <button type = "submit" (click)="createBooking()" class="close" data-dismiss="modal" aria-hidden="true"> Next </button>
    </div>
</div>

