<div id = "myCarousel" class = "carousel slide" data-ride = "carousel">
  <ol class="carousel-indicators">
    <li *ngFor = "let place of places; index as j;" [attr.data-slide-to] = "j" data-target="#myCarousel"
        ngClass = "j == 0 ? 'active' : ''"></li>
  </ol>

  <div class = "carousel-inner">
    <div *ngFor = "let place of places | orderByPopularity : 'popularity'; index as i;" [ngClass]="i == 0 ? 'item active' : 'item'"
         [ngStyle]="{ 'background-image': 'url(' + place.show.imagePath + ')'}">
      <img [src] = "place.show.imagePath" alt = "...">
      <div class = "carousel-caption" (click) = "clickOnEvent(place)">
        <h3> {{place.show.name}} </h3>
        <p> {{place.room.nameRoom}}</p>
      </div>
    </div>
  </div>
  <a class = "left carousel-control" href = "#myCarousel" data-slide = "prev">
    <span class = "sr-only">Previous</span>
  </a>
  <a class = "right carousel-control" href = "#myCarousel" data-slide = "next">
    <span class = "sr-only">Next</span>
  </a>

</div>


<div class = "row">
  <div *ngFor = "let place of places | orderByPopularity : 'popularity'; index as i;" class = "col-sm-6 col-md-4" [ngStyle]="{ 'background-image': 'url(' + place.show.imagePath + ')'}">
    <div class = "thumbnail" >
      <div class = "caption ">
        <h4> {{place.show.name}}</h4>
        <h4> {{place.room.nameRoom}}</h4>
      <a class = "btn btn-primary" role = "button" (click)="clickOnEvent(place)"> Buy </a>
      <a class = "btn btn-default" role = "button" (click)="clickOnEvent(place)">Info</a>
      </div>
    </div>
  </div>
</div>
