@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


.carousel {

  height : 450px;

}

.carousel-inner {

  height : 100%;

}



.item {

  background-size : cover;
  background-position : 50% 50%;
  width : 100%;
  height : 100%;

}

.col-sm-6 {

  background-size : cover;
  background-position : 50% 50%;
  height : 300px;

}

.thumbnail {

  background-color : transparent;
  border : hidden;
  height : 300px;
  position : relative;

}

.caption {

  position : absolute;
  bottom : 0;
  box-shadow: inset 1px 0px 85px 14px rgba(0,0,0,0.95);
  border-radius: 20px;
  margin-bottom: 5px;


}

.item img {

   visibility: hidden;

 }

.thumbnail img {

  visibility: hidden;

}

h4 {

  color : white;
}
